pandas
dill
plyfile
pyquaternion
GitPython
PyYAML
PyQt5
omegaconf
imageio
scipy
vispy
matplotlib
pyransac3d
scikit-image
open3d
hydra-core
opencv-python-headless
360_mlc @ git+https://github.com/EnriqueSolarte/360-mlc.git@v1.0.0
geometry-perception-utils-dev @ git+https://github.com/EnriqueSolarte/geometry_perception_utils.git@v1.0.24.11.04
shapely==2.0.6
einops
multiview-datasets-dev @ git+https://github.com/EnriqueSolarte/multiview-datasets.git@v1.0.24.11.24
torch==2.4.1
torchvision==0.19.1
huggingface_hub